
@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

body{
  /*background-color: #FFB03B;*/
  line-height: 1.5em;
  font-size: 1.3em;
  padding-top: 50px;
  font-family: SourceSansPro;
}

a{
  text-decoration: none;
  color: #B64926;
}
a:hover{
  color: #8E2800;
}

.header-container{
  text-align: center;
}

.container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.me{
    width: 200px;
    /*border: 4px solid white;
    -webkit-box-shadow: 0 0 8px -2px;
    box-shadow: 0 0 8px -2px;*/
}

.desc{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.links{
  padding-left: 0;
}
.links li{
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px;
}
.links li span{
  padding: 0px 5px;
}


.impotant{
  font-weight: bold;
}